<link rel="icon" href="{{ "favicons/favicon.svg" | absURL }}" />
<link rel="alternate icon" href="{{ "favicon.ico" | absURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicons/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicons/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicons/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "manifest.json" | absURL }}">
<link rel="mask-icon" href="{{ "favicons/safari-pinned-tab.svg" | absURL }}" color="#286484">
<meta name="apple-mobile-web-app-title" content="Commown">
<meta name="application-name" content="Commown">
<meta name="msapplication-TileColor" content="#286484">
<meta name="msapplication-config" content="{{ "favicons/browserconfig.xml" | absURL }}">
<meta name="theme-color" content="#d1e5e6">
