<meta property="og:locale" content="{{ .Language.Lang }}" />
{{- with .Title | default .Params.header.title | default .Site.Title -}}
<meta name="og:title" content="{{ . }}" />
{{- end -}}
{{- with .Description | default .Params.header.subtitle | default .Summary }}
<meta property="og:description" content="{{ . }}">
{{- end }}
{{- with .Params.image | default .Site.Params.image }}
<link rel="image_src" href="{{ . | absURL }}">
<meta property="og:image" content="{{ . | absURL }}" />
{{ if not (strings.HasSuffix . "svg") -}}
{{ with (imageConfig (add "/assets" .)) -}}
<meta property="og:image:width" content="{{ .Width }}" />
<meta property="og:image:height" content="{{ .Height }}" />
{{- end }}
{{- end }}
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
