{{- with .Title | default .Params.header.title | default .Site.Title -}}
<meta name="twitter:title" content="{{ . }}" />
{{- end -}}
{{- with .Description | default .Params.header.subtitle | default .Summary }}
<meta name="twitter:description" content="{{ . | truncate 200 }}">
{{- end }}
{{- with .Params.image | default .Site.Params.image }}
<meta name="twitter:image" content="{{ . | absURL }}" />
{{- end }}
<meta name="twitter:card" content="summary_large_image" />
{{- with .Site.Author.twitter | default .Site.Params.twitter }}
<meta name="twitter:site" content="@{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
{{- end }}