<svg width="48" height="48" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg"- aria-hidden="true">
<path fill-rule="evenodd" clip-rule="evenodd" d="M38 13.9999C38 12.4086 37.3679 10.8825 36.2426 9.75727C35.1174 8.63205 33.5913 7.99991 32 7.99991L30 8V6C30 4.89543 29.1046 4 28 4H20C18.8954 4 18 4.89543 18 6V8L16 7.99991C14.4087 7.99991 12.8826 8.63205 11.7574 9.75727C10.6321 10.8825 10 12.4086 10 13.9999V37.9999C10 39.5912 10.6321 41.1173 11.7574 42.2425C12.8826 43.3678 14.4087 43.9999 16 43.9999H32C33.5913 43.9999 35.1174 43.3678 36.2426 42.2425C37.3679 41.1173 38 39.5912 38 37.9999V13.9999ZM16 11.9999C15.4696 11.9999 14.9609 12.2106 14.5858 12.5857C14.2107 12.9608 14 13.4695 14 13.9999V37.9999C14 38.5303 14.2107 39.039 14.5858 39.4141C14.9609 39.7892 15.4696 39.9999 16 39.9999H32C32.5304 39.9999 33.0391 39.7892 33.4142 39.4141C33.7893 39.039 34 38.5303 34 37.9999V13.9999C34 13.4695 33.7893 12.9608 33.4142 12.5857C33.0391 12.2106 32.5304 11.9999 32 11.9999H16Z" />
<path d="M16 36C16 34.8954 16.8954 34 18 34H30C31.1046 34 32 34.8954 32 36C32 37.1046 31.1046 38 30 38H18C16.8954 38 16 37.1046 16 36Z" />
</svg>
