{{ define "main" }}

  <main role="main" id="main">
    
    {{ with .Params.header -}}
      {{- partial "hero.html" . -}}
    {{ end }}

    <div class="px-8 py-20">
      
      <div class="container max-w-screen-xl">

        {{ $post := $.Paginator }}
        {{ $isFirst := (not $post.HasPrev) }}

        <div class="posts{{ if $isFirst }} posts-first{{ end }} | flex flex-col md:flex-row flex-wrap justify-start -mx-5">
          
          {{ range $index, $article := $.Paginator.Pages.ByDate.Reverse }}
          <article class="post | relative flex flex-col-reverse items-start w-full px-5 mt-5 mb-12 lg:mb-16 {{ if and (eq $index 0) $isFirst }}lg:w-full lg:flex-row{{ else }}md:w-1/2 lg:w-1/3{{ end }}">
            <div class="post-body | flex-1 border-t border-noir-25">
              <header class="flex flex-col-reverse pt-8">
                <h3 class="post-title | text-noir-100 font-bold{{ if and (eq $index 0) $isFirst }} text-3xl md:text-4xl{{ else }} text-xl{{ end }}">{{ .Title }}</h3>
                <span class="text-noir-75 mb-2">
                  <time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">
                  {{- if eq $.Site.Language.Lang "fr" -}}
                    {{ .Date.Day }} {{ T (.Date.Format "January") }} {{ .Date.Year }}
                  {{- else if eq $.Site.Language.Lang "de" -}}
                    {{ .Date.Day }}.{{ T (.Date.Format "January") }} {{ .Date.Year }}
                  {{- end -}}
                  </time>
                  <span class="select-none mx-1"> · </span>
                  {{- partial "reading-time.html" . -}}
                </span>
              </header>
              <div class="{{ if and (eq $index 0) $isFirst }}md:text-lg{{ end }}">
                <p class="text-noir-75 mb-0">{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="link-full underline hover:no-underline">{{ T "read_more" | default "Lire la suite" }}</a>
              </div>
            </div>
            {{ if and (lt $index 4) $isFirst }}
            {{ with .Params.image }}
            {{- $image := resources.Get . -}}
            <div class="post-cover | flex-1 relative w-full {{ if (eq $index 0) }}lg:ml-10{{ end }}">
              <div class="h-0 pt-1/2">
                <img src="{{ $image.RelPermalink }}" alt="" {{ if not (strings.HasSuffix . "svg") }}{{ with (imageConfig (add "/assets" .)) -}}width="{{ .Width }}" height="{{ .Height }}"{{ end }}{{ end }} loading="lazy" class="absolute inset-0 bg-noir-25 h-full w-full object-cover rounded">
              </div>
            </div>
            {{ end }}
            {{ end }}
          </article>
          {{ end }}
          
        </div>
        <footer class="flex justify-center py-10">
          {{ partial "pagination.html" . }}
        </footer>
      </div>

    </div>

  </main>
  
{{ end }}
