{{ define "main" }}

  <main role="main" id="main">

    <div class="container">

      {{- partial "breadcrumb.html" . -}}

      <article class="w-full px-8 mb-32">
        <header class="flex flex-col-reverse pb-10 mb-12 border-b border-noir-25">
          <h1 class="post-title | text-noir-100 font-bold text-3xl sm:text-4xl md:text-5xl">{{ .Title }}</h1>
          <span class="text-noir-75 mb-4">
            <time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">
            {{- if eq $.Site.Language.Lang "fr" -}}
              {{ .Date.Day }} {{ T (.Date.Format "January") }} {{ .Date.Year }}
            {{- else if eq $.Site.Language.Lang "de" -}}
              {{ .Date.Day }}.{{ T (.Date.Format "January") }} {{ .Date.Year }}
            {{- end -}}
            </time>
            <span class="select-none mx-1"> · </span>
            {{- partial "reading-time.html" . -}}
          </span>
          {{ with .Params.image }}
          {{- $image := resources.Get . -}}
          <div class="post-cover | h-0 pt-1/2 relative mb-10">
            <img src="{{ $image.RelPermalink }}" alt="" {{ if not (strings.HasSuffix . "svg") }}{{ with (imageConfig (add "/assets" .)) -}}width="{{ .Width }}" height="{{ .Height }}"{{ end }}{{ end }} loading="lazy" class="absolute inset-0 bg-noir-25 h-full w-full object-cover rounded">
          </div>
          {{ end }}
        </header>
        <div class="prose prose-sm xs:prose sm:prose-lg md:prose-xl xl:prose-xl">
          {{ .Content }}
        </div>
      </article>
      {{ if or .PrevInSection .NextInSection -}}
      {{- partial "prev-next.html" . -}}
      {{- end }}
    </div>

  </main>
  
{{ end }}
