{{ define "main" }}

	{{ $page := .Page }}
	<main role="main" id="main">

		{{ with .Params.header -}}
			<!-- @QUESTION voir gestion cta avec admin -->
			{{- partial "hero.html" . -}}
		{{ end }}

		{{ with .Params.introduction -}}
		<section id="{{ .title | anchorize }}" class="py-20 px-8{{ with .bg_color }} {{ . }}{{ end }}{{ with .color }} {{ . }}{{ end }}">
			<div class="container max-w-screen-xl">
				{{- with .title -}}
				<h2 class="mb-12">{{ . }}</h2>
				{{- end -}}
				<div class="flex flex-col md:flex-row justify-center md:space-x-10">
					{{- with .text_left -}}
					<div class="flex-1 py-8 border-t">
						{{ . | markdownify }}
					</div>
					{{- end -}}
					{{- with .text_right -}}
					<div class="flex-1 py-8 border-t">
						{{ . | markdownify }}
					</div>
					{{- end -}}
				</div>
			</div>
		</section>
		{{- end }}

		{{ with .Params.roadmap -}}
		<section id="roadmap" class="pt-20 px-8">
			<div class="container max-w-screen-xl pb-16">
				{{- with .title -}}
				<h2 class="mb-12">{{ . }}</h2>
				{{- end -}}

				{{- with .events }}
				<div class="events">
					{{- range . }}
					<div class="event | relative sm:w-1/2 py-8 border-t flex items-start">
						<div class="flex-1">
							{{- with .year -}}
							<time datetime="{{ . }}" class="block">{{ . }}</time>
							{{- end }}
							{{- with .title -}}
							<h3 class="inline-block mb-1 font-extrabold">{{ . }}</h3>
							{{- end }}
							{{- with .text -}}
							<p>{{ . }}</p>
							{{- end }}
						</div>
						{{- with .icon }}
						{{ if templates.Exists (printf "partials/%s/%s.html" "svg/icons" . ) -}}
						<div class="icon | mx-8 flex justify-center items-center">{{ partial (printf "%s/%s.html" "svg/icons" . ) }}</div>
						{{ end }}
						{{- end -}}
					</div>
					{{- end }}
				</div>
				{{- end -}}
			</div>
		</section>
		{{- end }}

		{{ with .Params.sections -}}
			{{ range . -}}
				{{- partial "section.html" (dict "context" . "mypage" $page) -}}
			{{- end }}
		{{- end }}

		<!-- @TODO 
			mise a jour section pour aligner à 50% deux categories
			> permet de traiter la section cohérence et incohérence
			> mais l'usage entre champ optionnel devient compliqué
			> l'ajout d'une description permet de traiter la bande "un grand merci a"

			option d'une figure au dessus des blocks
			> PB: image ne charge pas

			"un grand merci a" voir si categories a 50% peuvent fonctionner 
		-->

	</main>

{{ end }}
