<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
	<head>
		{{- partial "head.html" . }}
	</head>
	<body class="antialiased text-bleu" data-type="{{ .Type }}" data-kind="{{ .Kind }}"{{ with .Layout }} data-layout="{{ . }}"{{ end }}>
		{{ if .Page.Params.header2 -}}{{- partial "header2.html" . }}{{ else }}{{- partial "header.html" . }}{{ end }}
		{{ block "main" . }}{{ end }}
		{{- partial "footer.html" . }}
	</body>
</html>
