{{ define "main" }}

	{{ $page := .Page }}
	<main role="main" id="main">

		{{ with .Params.header -}}
			{{- partial "hero.html" . -}}
		{{ end }}
		
		<div class="px-8 pb-20">
			
			<div class="container max-w-screen-xl">
				
				<div class="flex flex-col lg:flex-row justify-between -mx-5">
					<div class="w-full px-5 static lg:w-1/3">
					{{- partial "toc.html" . -}}
					</div>

					<div class="w-full px-5 lg:w-2/3">
					{{ with .Params.sections -}}
						{{ range . -}}
						<section {{ with .id }}id="{{ . }}" {{ end }} class="pt-20">

							{{- range .containers }}
							<div class="flex-1">
								
								{{ $container := . }}
								
								{{ if .title -}}
								<header class="flex flex-col-reverse xs:flex-row justify-between items-start">
									<h2 class="mb-12"{{ with .title_max_w}} style="max-width: {{ . }}"{{ end }}>{{ .title }}</h2>
									{{- with .icon }}
									{{ if templates.Exists (printf "partials/%s/%s.html" "svg/icons" . ) -}}
									<div class="icon | flex justify-center items-center">{{ partial (printf "%s/%s.html" "svg/icons" . ) }}</div>
									{{ end }}
									{{- end -}}
								</header>
								{{- end -}}
								
								{{- if .blocks }}
								{{ $count := len .blocks }}
								<div class="blocks | mb-4 -mx-5">
									{{- range .blocks }}
									<div class="block | w-full px-5">
										<div class="pb-10 h-full border-t pt-8">

											<details class="flex justify-between items-start">
												<summary class="lg:min-h-14"{{ with .title_max_w}} style="max-width: {{ . }}"{{ end }}>{{ .title }}</summary>
												{{- with .text }}
												<div class="text | {{ if eq $container.font_size "smaller" }}text-sm{{ else if eq $container.font_size "larger" }}text-lg md:text-xl lg:text-2xl{{ else }}text-base md:text-lg{{ end }}">{{ . | $page.RenderString }}</div>
												{{- end -}}
												{{- with .ctas }}
												<div class="ctas">
													{{- range . -}}
													<a href="{{ .href }}" target="_blank" rel="noopener noreferrer nofollow" class="btn text-sm{{ with .outline }} btn-outline{{ end }}">{{ .text }}</a>
													{{- end -}}
												</div>
												{{- end }}
											</details>

										</div>
									</div>
									{{- end }}
								</div>
								{{- end -}}

							</div>
							{{- end -}}

						</section>
						{{- end }}
					{{- end }}
					</div>
				</div>

			</div>

		</div>

	</main>

{{ end }}
