{{ define "main" }}

	<main role="main" id="main">
		
		{{ with .Params.header -}}
			{{- partial "hero.html" . -}}
		{{ end }}

		<div class="px-8 py-20">
			
			<div class="container max-w-screen-xl">
				
				<div class="flex flex-col lg:flex-row justify-between -mx-5">

					<div class="w-full px-5 static lg:w-1/3">
						<aside id="toc" class="pt-8 pb-20 lg:sticky lg:top-32">
							<h3 id="toc-title">{{ i18n "toc" }}</h3>
							{{ .TableOfContents }}
						</aside>
					</div>

					<article class="w-full px-5 mt-5 mb-20 lg:w-2/3">
						<div class="container prose prose-sm xs:prose sm:prose-lg md:prose-xl xl:prose-xl">
							{{ .Content }}
						</div>
					</article>

				</div>

			</div>

		</div>

	</main>
	
{{ end }}
