@charset "utf-8";

/* Colors */
:root {
  --color-bleu-fonce-25: #C8D5DD;
  --color-bleu-fonce-50: #94B2C2;
  --color-bleu-fonce-75: #5E8BA3;
  --color-bleu-fonce-100: #286484;
  --color-bleu-clair-25: #F3F8F8;
  --color-bleu-clair-50: #E8F2F3;
  --color-bleu-clair-75: #DDECEC;
  --color-bleu-clair-100: #D1E5E6;
  --color-beige-25: #FEF6EE;
  --color-beige-50: #FEEEDD;
  --color-beige-75: #FEE6CC;
  --color-beige-100: #FDDDBB;
  --color-noir-10: #EDEDED;
  --color-noir-25: #CECECE;
  --color-noir-50: #9E9E9D;
  --color-noir-75: #6D6D6C;
  --color-noir-100: #3C3C3B;
  --color-violet-10: #EDEEF3;
  --color-violet-25: #CFCDDF;
  --color-violet-50: #A5A8C2;
  --color-violet-75: #787CA3;
  --color-violet-100: #4B5084;
  --color-rouge-75: #DA7162;
  --color-rouge-100: #E94A3F;
  --color-vert-fonce-100: #4C6559;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src:  url("../fonts/Rubik-Light-subset.woff2") format("woff2"),
        url("../fonts/Rubik-Light-subset.woff") format("woff"),
        url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src:  url("../fonts/Rubik-Regular-subset.woff2") format("woff2"),
        url("../fonts/Rubik-Regular-subset.woff") format("woff"),
        url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src:  url("../fonts/Rubik-ExtraBold-subset.woff2") format("woff2"),
        url("../fonts/Rubik-ExtraBold-subset.woff") format("woff"),
        url("../fonts/Rubik-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.hidden {
  display: none !important;
}
.pt-1\/2 {
  padding-top: 50%;
}


/* Typography */
body {
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1 {
  @apply text-4xl xs:text-5xl my-2
}
h2 {
	@apply text-3xl xs:text-4xl mb-4
}
h3, summary,
#merci .block:first-child .text {
	@apply text-lg xs:text-xl font-bold uppercase mb-4
}
section h2,
section h3 {
	max-width: 24ch;
}
p {
	margin-bottom: 1.5em;
}
summary {
  padding-left: 1.125em;
  text-indent: -1.125em;
  cursor: pointer;
}
.link-full::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Prose */
.prose h2 {
  margin-top: 0 !important;
  padding-top: 1.6em;
}
.prose h2:first-child {
  padding-top: 0 !important;
}
.prose hr {
  border-top: 2px solid var(--color-noir-25) !important;
}
@media (min-width: 30rem) {
  .xs\:prose h2 {
    padding-top: 2em;
  }
}
@media (min-width: 40rem) {
  .sm\:prose-lg h2 {
    padding-top: 1.8666667em;
  }
}
@media (min-width: 48rem) {
  .md\:prose-xl h2,
  .xl\:prose-xl h2 {
    padding-top: 1.5555556em;
  }
}

/* ToC */
#TableOfContents {
  @apply leading-loose
}
#TableOfContents a {
  text-decoration: underline;
}
#TableOfContents a:hover {
  text-decoration: none;
}

/* Pagination */
.page-item {
  background: white;
}
.page-item + .page-item {
  margin-left: 2px;
}
.page-item.disabled {
  cursor: not-allowed;
  color: var(--color-noir-50);
}
.page-item.active {
  background: var(--color-bleu-fonce-100);
  color: white;
}
.page-link:focus,
.page-link:hover {
  outline: 2px solid var(--color-bleu-fonce-75);
}
.page-link:active {
  outline: 2px solid var(--color-bleu-fonce-100);
}
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  outline: none;
}
.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.75rem;
}
.page-link-first,
.page-link-prev,
.page-link-next,
.page-link-last {
  font-family: monospace;
  font-size: 1.5em;
}
.page-link-first {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.page-link-last {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Figures */
figure img,
figure video {
	width: 100%;
	object-fit: cover;
	border-radius: 0.25rem
}

/* Table */
table {
  min-width: 100%;
  border: 2px solid var(--color-bleu-fonce-75);
  margin: 2rem 0;
}
table > * + * {
  border-top: 2px solid var(--color-bleu-fonce-75);
}
tr > * {
  border-top: 2px solid var(--color-bleu-fonce-50);
  padding: 0.75em 1em;
}
tr > * + * {
  border-left: 2px solid var(--color-bleu-fonce-75);
}

/* Buttons & Fields */

.btn, .field {
  padding: 0.5em 1em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid var(--color-bleu-fonce-100);
  border-radius: 0.25rem;
}
.field {
  width: 100%;
}
select, input, textarea, .btn {
  @apply focus:outline-none focus:ring-2
}
.field-group {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}
.field-label {
  font-weight: bold;
  text-transform: uppercase;
}
.text-noir-100 .field {
  border-color: var(--color-noir-75);
  background-color: transparent;
  color: var(--color-noir-100);
}
#captcha {
  height: 80px;
  width: 306px;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid #ededed;
}
.field.error,
#captcha.error {
  border-color: var(--color-rouge-100);
}
.field-hint {
  color: darkred;
  margin-bottom: 0;
}
[disable] {
  opacity: 0.5;
  cursor: not-allowed;
}
form.success .field-group,
form.success button[type="submit"],
form p.success,
form p.error,
.field-hint {
  display: none;
}
form.success p.success,
.error ~ .field-hint {
  display: block;
}
form.error p.error {
  display: block;
  color: var(--color-rouge-100);
}

input::-webkit-input-placeholder { color: var(--color-noir-75) }
input::-moz-placeholder { color: var(--color-noir-75) }
input::-ms-input-placeholder { color: var(--color-noir-75) }
input::-moz-placeholder { color: var(--color-noir-75) }
textarea::-webkit-input-placeholder { color: var(--color-noir-75) }
textarea::-moz-placeholder { color: var(--color-noir-75) }
textarea::-ms-input-placeholder { color: var(--color-noir-75) }
textarea::-moz-placeholder { color: var(--color-noir-75) }

input::invalid {
  border-color: var(--color-rouge-100);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-bleu-fonce-100);
  color: var(--color-bleu-clair-25);
  font-weight: bold;
  text-transform: uppercase; 
  -webkit-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.btn:not(select):hover {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}
.btn:not(select):active {
	-webkit-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}
.btn-outline {
  background-color: transparent;
  color: var(--color-bleu-fonce-100);
  border-color: var(--color-bleu-fonce-75);
}
.btn-outline.bg-beige {
  background-color: var(--color-beige-25);
}
.bg-bleu-fonce-100 .btn {
  border-color: var(--color-bleu-clair-75);
  background-color: var(--color-bleu-clair-75);
  color: var(--color-bleu-fonce-100);
}
.bg-bleu-fonce-100 .btn-outline {
  border-color: var(--color-bleu-clair-100);
  background-color: transparent;
  color: var(--color-bleu-clair-75);
}
.text-violet-100 .btn {
  border-color: var(--color-violet-100);
  background-color: var(--color-violet-100);
  color: var(--color-violet-10);
}
.text-noir-100 .btn {
  border-color: var(--color-noir-100);
  background-color: var(--color-noir-100);
  color: var(--color-noir-10);
}
.text-noir-100 .btn-outline {
  background-color: transparent;
  color: var(--color-noir-100);
  border-color: var(--color-noir-75);
}
/* Buttons with text + icon */
main a.btn[href*="//"]:not([href*="//commown.coop"]):not([href*="localhost"])::after,
main a.btn[href$=".pdf"]::after {
  content: "";
  display: inline-block;
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='%23F3F8F8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.46889 5.04844C5.46893 4.78327 5.57429 4.52898 5.76179 4.34148C5.94929 4.15398 6.20358 4.04863 6.46874 4.04859L14.954 4.04859C15.2192 4.04863 15.4735 4.15398 15.661 4.34148C15.8485 4.52898 15.9538 4.78327 15.9539 5.04844V13.5337C15.9493 13.7959 15.842 14.0458 15.655 14.2296C15.4679 14.4134 15.2162 14.5163 14.954 14.5163C14.6918 14.5163 14.4401 14.4134 14.2531 14.2296C14.0661 14.0458 13.9587 13.7959 13.9542 13.5337V7.4625L5.76164 15.655C5.5741 15.8426 5.31975 15.9479 5.05453 15.9479C4.78931 15.9479 4.53496 15.8426 4.34742 15.655C4.15989 15.4675 4.05453 15.2132 4.05453 14.9479C4.05453 14.6827 4.15989 14.4284 4.34742 14.2408L12.54 6.04829H6.46874C6.20358 6.04825 5.94929 5.94289 5.76179 5.75539C5.57429 5.5679 5.46893 5.3136 5.46889 5.04844Z' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.25rem;
  margin-left: 0.5em;
  opacity: 0.75;
}
main .bg-bleu-fonce-100 a.btn[href*="//"]:not([href*="//commown.coop"]):not([href*="localhost"])::after,
main a.btn-outline[href*="//"]:not([href*="//commown.coop"]):not([href*="localhost"])::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='%23286484' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.46889 5.04844C5.46893 4.78327 5.57429 4.52898 5.76179 4.34148C5.94929 4.15398 6.20358 4.04863 6.46874 4.04859L14.954 4.04859C15.2192 4.04863 15.4735 4.15398 15.661 4.34148C15.8485 4.52898 15.9538 4.78327 15.9539 5.04844V13.5337C15.9493 13.7959 15.842 14.0458 15.655 14.2296C15.4679 14.4134 15.2162 14.5163 14.954 14.5163C14.6918 14.5163 14.4401 14.4134 14.2531 14.2296C14.0661 14.0458 13.9587 13.7959 13.9542 13.5337V7.4625L5.76164 15.655C5.5741 15.8426 5.31975 15.9479 5.05453 15.9479C4.78931 15.9479 4.53496 15.8426 4.34742 15.655C4.15989 15.4675 4.05453 15.2132 4.05453 14.9479C4.05453 14.6827 4.15989 14.4284 4.34742 14.2408L12.54 6.04829H6.46874C6.20358 6.04825 5.94929 5.94289 5.76179 5.75539C5.57429 5.5679 5.46893 5.3136 5.46889 5.04844Z' /%3E%3C/svg%3E%0A");
}
main a.btn[href$=".pdf"]::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23F3F8F8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4C6.73478 4 6.48043 4.10536 6.29289 4.29289C6.10536 4.48043 6 4.73478 6 5V19C6 19.2652 6.10536 19.5196 6.29289 19.7071C6.48043 19.8946 6.73478 20 7 20H17C17.2652 20 17.5196 19.8946 17.7071 19.7071C17.8946 19.5196 18 19.2652 18 19L18 9.41421L12.5859 4.00011L7 4ZM4.87868 2.87868C5.44129 2.31607 6.20435 2 7 2H12.586C13.1163 2.00011 13.6251 2.21086 14.0001 2.58589M14.0001 2.58589L19.414 7.99979C19.414 7.99982 19.414 7.99975 19.414 7.99979C19.789 8.37476 19.9999 8.88345 20 9.41379V19C20 19.7957 19.6839 20.5587 19.1213 21.1213C18.5587 21.6839 17.7957 22 17 22H7C6.20435 22 5.44129 21.6839 4.87868 21.1213C4.31607 20.5587 4 19.7957 4 19V5C4 4.20435 4.31607 3.44129 4.87868 2.87868M12 9C12.5523 9 13 9.44772 13 10V13.5858L14.2929 12.2929C14.6834 11.9024 15.3166 11.9024 15.7071 12.2929C16.0976 12.6834 16.0976 13.3166 15.7071 13.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929C8.68342 11.9024 9.31658 11.9024 9.70711 12.2929L11 13.5858V10C11 9.44772 11.4477 9 12 9Z' /%3E%3C/svg%3E%0A");  
}
main a.btn-outline[href$=".pdf"]::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23286484' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4C6.73478 4 6.48043 4.10536 6.29289 4.29289C6.10536 4.48043 6 4.73478 6 5V19C6 19.2652 6.10536 19.5196 6.29289 19.7071C6.48043 19.8946 6.73478 20 7 20H17C17.2652 20 17.5196 19.8946 17.7071 19.7071C17.8946 19.5196 18 19.2652 18 19L18 9.41421L12.5859 4.00011L7 4ZM4.87868 2.87868C5.44129 2.31607 6.20435 2 7 2H12.586C13.1163 2.00011 13.6251 2.21086 14.0001 2.58589M14.0001 2.58589L19.414 7.99979C19.414 7.99982 19.414 7.99975 19.414 7.99979C19.789 8.37476 19.9999 8.88345 20 9.41379V19C20 19.7957 19.6839 20.5587 19.1213 21.1213C18.5587 21.6839 17.7957 22 17 22H7C6.20435 22 5.44129 21.6839 4.87868 21.1213C4.31607 20.5587 4 19.7957 4 19V5C4 4.20435 4.31607 3.44129 4.87868 2.87868M12 9C12.5523 9 13 9.44772 13 10V13.5858L14.2929 12.2929C14.6834 11.9024 15.3166 11.9024 15.7071 12.2929C16.0976 12.6834 16.0976 13.3166 15.7071 13.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929C8.68342 11.9024 9.31658 11.9024 9.70711 12.2929L11 13.5858V10C11 9.44772 11.4477 9 12 9Z' /%3E%3C/svg%3E%0A");  
}
main a.btn .icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5em;
  opacity: 0.75;
}
main a.btn .icon > svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 29.9375rem ) {
  section header h2 ~ .btn {
    margin-top: -2rem;
    margin-bottom: 3rem;
  }
}


/* Blend modes & Filters */
.mix-blend-multiply { 
  mix-blend-mode: multiply
}
.grayscale { 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) 
}

/* Select */
select {
  margin: 0 0 0.5rem;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select > option {
  font-weight: normal;
}
.select::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 1em;
  bottom: 1.75em;
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid var(--color-noir-75);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  border-width: 0 2px 2px 0;
  z-index: 2;
  pointer-events: none;
}


/* Nav */
@media (max-width: 79.9375rem) { /* 1279px */
  
  #nav {
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    overflow-x: hidden;
  }

  #toggle[aria-expanded="false"] ~ #nav,
  #toggle[aria-expanded="false"] ~ #languages {
    display: none;
  }
  .darkner {
    overflow-y: hidden;
  }
  .darkner::before {
    content: "";
    display: block;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-noir-100);
    opacity: .25;
  }
  #nav ul > li.active > a::before {
    content: "";
    display: block;
    z-index: 50;
    background-color: var(--color-bleu-fonce-75);
    position: fixed;
    left: 0;
    height: 2rem;
    width: 2px;
  }
  #nav ul.sub-menu > li.active > a::before {
    left: 2rem;
  }
} 

@media (min-width: 80rem) { /* xl 1280px */

  #nav ul > .menu-item.active > a {
    border-bottom-color: var(--color-bleu-fonce-75);
  }
  .sub-menu {
    display: none;
  }
  #nav ul > li:focus-within > a .chevron-down,
  #nav ul > li:hover > a .chevron-down,
  #nav ul > li:active > a .chevron-down,
  #nav ul > li:focus > a .chevron-down {
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    top: 0.1rem;
  }
  #nav ul > li:focus-within > .sub-menu,
  #nav ul > li:hover > .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.chevron-down {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  border-width: 0 2px 2px 0;
  margin: 0 0.5em;
  position: relative;
  top: -0.2rem;
}

/* Languages */
#languages ul > li:first-child::after {
  content: "|";
  display: inline-block;
  text-align: center;
  width: 0.75em;
  opacity: 0.5;
}

/* Icons */
.container > header > .icon {
  height: 5rem;
}
.container > header > .icon > svg {
  height: 100%;
}

 /* Blocks */
.blocks + figure {
  margin-top: -2rem;
  margin-bottom: 4rem;
}
.block .text > *:not(table) {
  max-width: 65ch;
}
.block .text a {
  text-decoration: underline;
}
.block .text a:hover {
  text-decoration: none;
}
.block ol {
  list-style: decimal;
}
.block ul {
  list-style: disc;
  margin-bottom: 1.5em;
}
.block ol, .block ul {
  padding-left: 1em;
}
.block ol > li, .block ul > li {
  padding-left: 0.5em;
}
.block .data strong {
  font-weight: 200;
}
.text-bleu-fonce-100 .block .data,
.text-bleu-fonce-100 > .blocks > .block .data {
  color: var(--color-bleu-fonce-75);
}
.text-bleu-fonce-100 .block .data strong,
.text-bleu-fonce-100 > .blocks > .block .data strong {
  color: var(--color-bleu-fonce-100);
}
.text-violet-100 .block .data,
.text-violet-100 > .blocks > .block .data {
  color: var(--color-violet-75);
}
.text-violet-100 .block .data strong,
.text-violet-100 > .blocks > .block .data strong {
  color: var(--color-violet-100);
}
.block .text + .ctas {
  margin-top: 1.75rem;
}

/* Video */
.video-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  padding-top: 56.25% /* 1280 x 720 */
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
iframe[data-src] {
  display: none;
}
button.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hero */

.hero > .bg-pattern {
  opacity: 0.15;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 1080px 100%, 1280px 25%, 720px 0%);
          clip-path: polygon(0% 0%, 0% 100%, 1080px 100%, 1280px 25%, 720px 0%);
}
@media (max-width: 80rem) { /* 1280px */
  .hero > .bg-pattern {
    left: calc(100% - 1280px);
  }
}

.hero > .bg-pattern::before {
  content: "";
  display: block;
  image-rendering: pixelated;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAAIBAMAAACbn1OMAAAAGFBMVEUAAAABAQEBAQAAAQEBAAEBAAAAAAEAAACIpTWMAAAAAXRSTlMAQObYZgAAALxJREFUeNrN1sGNwyAUhOGZDct5StgSXAIlbAmvhO3/tHNJLCXPAWEi+Uef/AQ3iwOQ1Gwz57lfM/dj+tNYm/JCYyGzdqEnj+ShL6usIIvxApBCz83YNZfUKClTjO9s+f73Pm/PZ5DChLh/TcOQwhpzFUI8UoxrVQKchU+aTOKrX9Os+pgjPUdXe5132DXTMpMRSjQL0yk13ccJF0xEMT6pdjMeCdN7kIVpN3x7Atltu2IaWLHiXXDZP3Cqf7J/MOnFzoSPAAAAAElFTkSuQmCC");
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 1280px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 100%;
}

/* Footer */
#footer a {
  text-decoration: underline;
}
#footer a:hover {
  text-decoration: none;
}

.cols-2 {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

/**
 * Pages
 */

/*********
ACCUEIL
*********/
#nos-offres .block header,
#unsere-angebote .block header {
  flex-direction: column-reverse;
}
#nos-offres .block header h3,
#unsere-angebote .block header h3 {
  height: auto;
}
#nos-offres .block header .icon,
#unsere-angebote .block header .icon {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  border: 2px solid var(--color-bleu-fonce-100);
}
#electronique-responsable h2,
#testimonials h2,
#ecosysteme-commown h2 {
  max-width: 16ch;
}
[data-kind="home"] #nos-offres > .wrapper > .container:last-child .block:last-child > div,
[data-kind="home"] #unsere-angebote > .wrapper > .container:last-child .block:last-child > div,
#ecosysteme-commown > .wrapper > .container:first-child .block:last-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
    -ms-flex-align:  end;
        align-items: end;
}
#electronique-responsable figure {
  border-top-width: 2px;
  max-height: 335px;
}
#electronique-responsable figure > img {
  object-fit: contain;
}

/*********
ABOUT
*********/

/* Roadmap */

@media (min-width: 40rem) { /* sm */ 
  .events .event::before { 
    content: "";
    display: block;
    width: .5rem;
    height: .5rem;
    border: 2px solid currentColor;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    z-index: 10;
  }
  .events .event:nth-child(odd) { 
    text-align: right;
  }
  .events .event:nth-child(odd)::before { 
    right: -4px;
  }
  .events .event:nth-child(even) { 
    margin-left: 50%;
    flex-direction: row-reverse;
  }
  .events .event:nth-child(even)::before { 
    left: -4px;
  }
}

#merci {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
#merci .block > * {
  border-top-width: 0;
  padding: 1rem 0;
}
#merci .block:first-child {
  text-transform: uppercase;
}

/*********
INVEST
*********/

@media (min-width: 40rem) { /* sm */
  .sm\:cols-2 {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
  #chiffres > .wrapper > .container:last-child .block:nth-child(1) {
    width: 100%;
  }
  #chiffres > .wrapper > .container:last-child .block:nth-child(2),
  #chiffres > .wrapper > .container:last-child .block:nth-child(3) {
    width: 50%;
  }
}

@media (min-width: 48rem) { /* md */
  #chiffres > .wrapper > .container:last-child .block:nth-child(1) {
    width: 50%;
  }
  #chiffres > .wrapper > .container:last-child .block:nth-child(2),
  #chiffres > .wrapper > .container:last-child .block:nth-child(3) {
    width: 25%;
  }
}

/*********
BLOG
*********/
.post-title {
  text-transform: none;
}
@media (max-width: 47.9375rem) {  /* < md */
  .posts > .post:nth-child(2) > .post-cover,
  .posts > .post:nth-child(3) > .post-cover {
    display: none;
  }
}
@media (min-width: 48rem) {  /* > md */
  .posts-first > .post:nth-child(2) > .post-body,
  .posts-first > .post:nth-child(3) > .post-body {
    border-top: 0;
  }
}
@media (max-width: 63.9375rem) {  /* < lg */
  .posts-first > .post:nth-child(1) > .post-body {
    border-top: 0;
  }
  .posts > .post:nth-child(4) > .post-cover {
    display: none;
  }
}
@media (min-width: 64rem) {  /* > lg */
  .posts-fist > .post:nth-child(4) > .post-body {
    border-top: 0;
  }
}
[data-type="blog"][data-kind="page"] main .container {
  max-width: 49rem;
}

.breadcrumb > ol > li {
  display: inline-block;
}
.breadcrumb > ol > li + li::before {
  content: "/";
  margin: 0 0.25em;
  color: var(--color-noir-50);
}

/*********
ERRORS
*********/
[data-kind="404"] #contact {
  display: none;
}
