<meta property="article:publisher" content="{{ .Site.Title }}" />
{{ if .Params.author -}}
<meta property="article:author" content="{{ .Params.author }}" />
{{- else if .Site.Author.name -}}
<meta property="article:author" content="{{ .Site.Author.name }}" />
{{- end }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}" />
{{ with .Lastmod -}}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}" />
{{- end }}
<script type="application/ld+json"> 
{
  "@context" : "http://schema.org",
  "@type" : "BlogPosting",
  {{ if .Params.categories }}{{ range .Params.categories }}"articleSection" : "{{ . }}",{{ end }}{{ end }}
  "name" : "{{ .Title | safeJS }}",
  "headline" : "{{ .Title | safeJS }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink }}
  },
  "description" : "{{ if .Description }}{{ replace .Description "\n" " " | plainify }}{{ else }}{{if .IsPage}}{{ replace .Summary "\n" " " | plainify  }}{{ end }}{{ end }}",
  "inLanguage" : "{{ .Lang }}",
  {{ if .Params.author -}}
    "author": {
      "@type": "Person",
      "name": "{{ .Params.author }}"
  },
  {{- else if .Site.Author.name -}}
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Author.name }}"
  },
  {{- end }}
  "copyrightYear" : "{{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}",
  {{ if not .PublishDate.IsZero -}}
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
    "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  "url": {{ .Permalink }},
  "wordCount" : "{{ .WordCount }}",
  {{- with .Params.cover }}
  {{ $cover := ($.Sites.First.GetPage "section" "media").Resources.GetMatch (strings.TrimPrefix "/media/" . ) }}
  "image": {{ ($cover.Resize "360x").RelPermalink }},
  {{ end }}
  "keywords" : [ "{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}" ],
  "publisher" : {
    "@type": "Organization",
    "name" : "{{ .Site.Title }}",
    "url": {{ .Site.BaseURL }}
  }
} </script>