<nav class="breadcrumb | px-8 mt-5 mb-8" aria-label="{{ T "breadcrumb" }}">
  <ol class="mb-0 pb-1 text-noir-75">
    <li>
      <a href="{{ .Site.Home.Permalink }}" class="text-bleu underline hover:no-underline">{{ .Site.Home.Params.menu.footer.name }}</a>
    </li>
    <li>
      <a href="{{ .Parent.Permalink }}" class="text-bleu underline hover:no-underline">{{ .Parent.Params.menu.footer.name }}</a>
    </li>
    <li>
      <span href="{{ .Permalink }}" class="">{{ .Title }}</span>
    </li>
  </ol>
</nav>
