{{- $contact := .Site.GetPage "/contact.md" -}}
{{ with $contact -}}
<section id="contact" class="py-20 px-8 bg-beige-25 text-noir-100">
	<div class="container max-w-screen-xl">
		<header class="flex flex-col-reverse xs:flex-row justify-between xs:items-center pb-10">
			<h2 class="mb-0">{{ .Title }}</h2>
			<div class="icon | h-20 flex items-center mb-6 xs:mb-0 xs:ml-4">{{ partial "svg/icons/email.html" }}</div>
		</header>
		<div class="blocks | flex flex-wrap mb-4 -mx-5">
			<div class="block | flex flex-col w-full px-5 md:w-1/2">
				<div class="flex-1 border-t pt-8 mb-8">{{ .Params.text | markdownify }}</div>
			</div>
			<div class="block | flex flex-col w-full px-5 md:w-1/2">
				<div class="flex-1 md:border-t md:pt-8">
					<button id="display-form" class="btn btn-outline text-base md:text-lg bg-beige justify-center w-full xs:w-auto">{{ .Params.buttonDisplay }}</button>
					<form id="contact-form" action="{{ .Params.actionURL }}" method="post" class="hidden">
						<input name="lang" id="lang" type="hidden" value="{{ .Language.Lang }}">
						{{ $options := .Params.options }}
						{{ $hCaptchaKey := .Params.hCaptchaKey }}
						{{ with .Params.fields -}}
						<div class="field-group select">
							<label for="department" class="field-label">{{ .department.label }}</label>
							<select id="department" name="department" class="field" required aria-required="true" aria-describedby="departmentHint" autocomplete="off">
								{{ range $options -}}
								<option value="{{ .value }}">{{ .label }}</option>
								{{- end }}
							</select>
							<p class="field-hint" id="departmentHint">{{ .department.hint }}</p>
						</div>
						<div class="flex flex-col xs:flex-row xs:space-x-5">
							<div class="field-group">
								<label for="name" class="field-label">{{ .name.label }}</label>
								<input type="text" name="name" id="name" class="field" autocomplete required aria-required="true" aria-describedby="nameHint">
								<p class="field-hint" id="nameHint">{{ .name.hint }}</p>
							</div>
							<div class="field-group">
								<label for="email" class="field-label">{{ .email.label }}</label>
								<input type="email" name="email" id="email" class="field" autocomplete required aria-required="true" aria-describedby="emailHint">
								<p class="field-hint" id="emailHint">{{ .email.hint }}</p>
							</div>
						</div>
						<div class="field-group">
							<label for="subject" class="field-label">{{ .subject.label }}</label>
							<input type="text" name="subject" id="subject" class="field" required aria-required="true" aria-describedby="subjectHint" autocomplete="off">
							<p class="field-hint" id="subjectHint">{{ .subject.hint }}</p>
						</div>
						<div class="field-group">
							<label for="body" class="field-label">{{ .body.label }}</label>
							<textarea name="body" id="body" class="field" rows="7" required aria-required="true" aria-describedby="bodyHint" autocomplete="off"></textarea>
							<p class="field-hint" id="bodyHint">{{ .body.hint }}</p>
						</div>
						<div class="field-group">
							<label for="captcha" class="field-label visually-hidden">{{ .captcha.label }}</label>
							<div id="captcha" data-sitekey="{{ $hCaptchaKey }}" aria-describedby="captchaHint"></div>
							<p class="field-hint" id="captchaHint">{{ .captcha.hint }}</p>
						</div>
						{{- end }}
						<script src="https://hcaptcha.com/1/api.js?render=explicit&hl={{ .Language.Lang }}" async defer></script>
						<button type="submit" class="btn text-base md:text-lg bg-beige justify-center w-full xs:w-auto">{{ .Params.buttonSend }}</button>
						<div aria-live="assertive">
							<p class="success">{{ .Params.successText | markdownify }}</p>
							<p class="error">{{ .Params.errorText | markdownify }}</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{- end }}
