<figure class="relative w-full h-full{{ if .iframe }} video{{ end }}">
	{{ if .image }}
	{{- $image := resources.Get .image -}}
	<img src="{{ $image.RelPermalink }}" alt="{{ .alt }}" class="mx-auto h-full{{ with .blend_mode }} mix-blend-{{ . }}{{ end }}{{ with .grayscale }} grayscale{{ end }}{{ if .initial }} w-initial h-initial{{ end }}" {{ if not (strings.HasSuffix .image "svg") }}{{ with (imageConfig (add "/assets" .image)) -}}width="{{ .Width }}" height="{{ .Height }}"{{ end }}{{ end }} loading="lazy">
	{{ end }}
	{{- with .iframe }}
	{{- $iframe := replace .code "src=" "data-src=" -}}
	<div class="video-container">
		{{ $iframe | markdownify }}
		<button class="play | bg-noir-100 text-white text-5xl rounded-full w-24 md:w-32 h-24 md:h-32 flex items-center justify-center transition-opacity opacity-75 hover:opacity-100" aria-label="Lire la vidéo">
			<span class="pl-2 select-none" aria-hidden="true">
				<svg id="triangle" width="34" height="40" viewBox="0 0 34 40" xmlns="http://www.w3.org/2000/svg">
					<path d="M33 18.268c1.333.77 1.333 2.694 0 3.464L3 39.052c-1.333.77-3-.192-3-1.731V2.678C0 1.14 1.667.178 3 .947l30 17.321z" fill="#fff"/>
				</svg>
			</span>
		</button>
	</div>
	{{- end }}
	{{- with .figcaption }}
	<figcaption class="my-4">{{ . | markdownify }}</figcaption>
	{{- end }}
</figure>
