{{ partial "contact.html" . }}

<footer id="footer" class="bg-noir-100 text-noir-25 px-8" role="contentinfo">
	{{- $footer := .Site.GetPage "/footer.md" -}}
	{{ with $footer -}}
	<div class="container max-w-screen-xl flex flex-col lg:flex-row lg:space-x-10 justify-between text-white py-20 text-sm">
		
		<div class="flex-1 flex flex-col sm:flex-row sm:space-x-10 justify-between" style="flex-basis: 66.666%">
			<div class="flex-1 mb-16">
				<div class="lg:max-w-xs">
					<div class="flex h-24 lg:mb-10">
						<div class="-ml-5 -mt-6 mr-5">{{- partial "svg/logo-circle-transparent.html" -}}</div>
						<div>{{ .Params.address | markdownify }}</div>
					</div>
					<div class="text-xs leading-relaxed -mt-px">{{ .Params.legal | markdownify }}</div>
				</div>
			</div>
			<div class="flex-1 mb-16">
				<div class="lg:max-w-xs">
					<div class="h-24 lg:mb-10">
						<h3 id="follow" class="text-base uppercase mb-1">{{ i18n "follow-us" }}</h3>
						<p class="">{{ .Params.social | markdownify }}</p>
					</div>
					<div class="text-xs leading-relaxed -mt-px">{{ .Params.eco | markdownify }}</div>
				</div>
			</div>
		</div>

		<div class="flex-1 leading-loose" style="flex-basis: 33.3333%">
			<nav id="footer-nav" aria-labelledby="sitemap">
				<h3 id="sitemap" class="text-base uppercase mb-1">{{ i18n "sitemap" }}</h3>
				<ul class="cols-2">
					{{ range .Site.Menus.footer -}}
					<li>
						<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
					</li>
					{{- end }}
					<li>
						<a href="https://shop.commown.coop/shop">{{ i18n "online-shop" }}</a>
					</li>
					<li>
						<a href="https://shop.commown.coop/my/home">{{ i18n "customer-area" }}</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	{{- end }}
</footer>
{{ partial "js.html" }}
