{{ partial "skip-links.html" }}

<header id="header" class="sticky top-0 left-0 right-0 z-20 bg-white h-24 flex justify-between items-center px-8">

	<a href="{{ .Site.Home.Permalink | absLangURL }}" aria-label="{{ i18n "home" }}" title="{{ i18n "home" }}" class="-ml-5 -mt-1"{{ if .IsHome }} aria-current="page"{{ end }}>{{- partial "svg/logo-horizontal-bleu-transparent.html" -}}</a>

	<div class="flex items-center">
		
		<button id="toggle" aria-expanded="false" aria-controls="nav" class="btn btn-outline | order-last xl:hidden relative z-50" title="{{ i18n "open" }}" data-open="{{ i18n "open" }}" data-close="{{ i18n "close"}}">Menu</button>
		
		<nav id="nav" role="navigation" class="fixed top-24 left-0 right-0 z-30 xl:inset-0 xl:relative xl:mr-6">
			<ul class="menu | flex flex-col xl:flex-row xl:items-center xl:h-24 leading-loose bg-white p-8 pt-0 pb-16 xl:p-0">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main -}}
					{{ $active := eq $.RelPermalink (.URL | relLangURL) }}
					{{ $active = or $active (eq $.Section (lower .Name)) }}
					{{ if .HasChildren }}
					<li class="menu-item | h-full flex-shrink-0 flex flex-col xl:flex-row xl:items-center xl:ml-6{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}" tabindex="0">
					  <a href="#" class="py-px">{{ .Name }} <span class="chevron-down"></span></a>
					  <ul class="sub-menu | xl:fixed flex flex-col bg-white rounded xl:top-16 xl:-ml-6 px-6 py-2 xl:pb-4 z-40">
					  {{ range .Children }}
					    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
					      <a href="{{ .URL | absLangURL }}" class="hover:text-noir-100">{{ .Name }}</a>
					    </li>
					  {{ end }}
					  </ul>
					</li>
					{{ else }}
					<li class="menu-item | h-full flex-shrink-0 flex items-center xl:ml-6{{ if $active }} active{{ end }}">
						<a href="{{ .URL | absLangURL }}" class="inline-block border-transparent border-t border-b py-px hover:text-noir-100">{{ .Name }}</a>
					</li>
					{{ end }}
				{{- end }}

				<li class="menu-item | h-full flex-shrink-0 flex items-center xl:ml-6">
					<ul class="menu-ctas | flex flex-wrap items-center mt-4 xl:mt-0">
						<li class="menu-cta | h-full flex-shrink-0 flex items-center mr-3">
							<a href="#" class="btn btn-outline text-sm z-50">{{ i18n "online-shop" }} <span class="chevron-down"></span></a>
							<ul class="sub-menu | xl:fixed flex flex-col bg-white rounded xl:top-16 px-4 py-2 xl:pb-4 z-40">
								<li>
									<a href="https://shop.commown.coop/shop" class="hover:text-noir-100">{{ i18n "Individuals" }}</a>
								</li>
								<li>
									<a href="https://greener-it-pro.commown.coop/shop" class="hover:text-noir-100">{{ i18n "Professionals" }}</a>
								</li>
							</ul>

						</li>
						<li class="menu-cta | h-full flex-shrink-0 flex items-center">
							<a href="https://shop.commown.coop/my/home" class="btn text-sm z-50">{{ i18n "customer-area" }} <span class="chevron-down"></span></a>
							<ul class="sub-menu | xl:fixed flex flex-col bg-white rounded xl:top-16 px-4 py-2 xl:pb-4 z-40">
								<li>
									<a href="https://shop.commown.coop/my/home" class="hover:text-noir-100">{{ i18n "Individuals" }}</a>
								</li>
								<li>
									<a href="https://greener-it-pro.commown.coop/my/home" class="hover:text-noir-100">{{ i18n "Professionals" }}</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>

			</ul>
		</nav>

		{{ partial "languages.html" . }}

	</div>
</header>
