{{ partial "skip-links.html" }}

<header id="header" class="sticky top-0 left-0 right-0 z-20 bg-white h-24 flex justify-between items-center px-8">

	<img src="/media/telecoop_commown.png" alt="Logos de Telecoop et de Commown" width="583px" height="73px" loading="lazy" class="">

	<div class="flex items-center">
		
		<button id="toggle" aria-expanded="false" aria-controls="nav" class="btn btn-outline | order-last xl:hidden relative z-50" title="{{ i18n "open" }}" data-open="{{ i18n "open" }}" data-close="{{ i18n "close"}}">Menu</button>
		
		<nav id="nav" role="navigation" class="fixed top-24 left-0 right-0 z-30 xl:inset-0 xl:relative xl:mr-6">
			<ul class="menu | flex flex-col xl:flex-row xl:items-center xl:h-24 leading-loose bg-white p-8 pt-0 pb-16 xl:p-0">
				<li class="menu-item | h-full flex-shrink-0 flex items-center xl:ml-6">
					<ul class="menu-ctas | flex flex-wrap items-center mt-4 xl:mt-0">
						<li class="menu-cta | h-full flex-shrink-0 flex items-center mr-3">
							<a href="https://telecoop.commown.coop/#contreparties" class="btn btn-outline text-sm z-50">Investir chez Commown</a>
						</li>
						<li class="menu-cta | h-full flex-shrink-0 flex items-center">
							<a href="https://telecoop.commown.coop/#contreparties" class="btn btn-outline text-sm z-50">S'abonner chez Telecoop</a>
						</li>
					</ul>
				</li>

			</ul>
		</nav>

	</div>
</header>
