<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
{{- if .IsHome }}{{ .Title | default .Params.header.title }}{{- else -}}
{{- with .Title | default .Params.header.title -}}{{ . }} · {{ end -}}{{ .Site.Title }}{{- end -}}
</title>

{{- with .Description | default .Params.header.subtitle | default .Summary -}}
<meta name="description" content="{{ . }}">
{{- end -}}

{{ hugo.Generator }}

<meta name="robots" content="{{ .Site.Params.robots }}">

{{ partial "seo/main.html" . }}

<link rel="preload" href="{{ .Site.BaseURL }}fonts/Rubik-Regular-subset.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ .Site.BaseURL }}fonts/Rubik-ExtraBold-subset.woff2" as="font" type="font/woff2" crossorigin>

{{ $styles := resources.Get "css/main.css" | postCSS }}
{{ if .Site.IsServer }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
{{ else }}
{{ $styles := $styles | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}?{{ now.Unix }}" integrity="{{ $styles.Data.Integrity }}" />
{{ end }}
