<header class="hero | relative px-8">
	<div class="container min-h-640 py-12 max-w-screen-xl flex flex-col-reverse md:flex-row md:items-center justify-center">
		<div class="flex-1 mt-16 md:mt-0 md:mr-10">
			<h1>{{ .title }}</h1>
			{{ with .subtitle -}}
			<h2 class="text-lg md:text-xl lg:text-2xl font-bold uppercase max-w-sm">{{ . }}</h2>
			{{- end }}
			{{- with .ctas }}
			<div class="mx-auto items-center flex flex-wrap mt-6">
				{{- range . -}}
				<a href="{{ .href }}" class="btn | mr-4 text-base lg:text-lg md:text-xl{{ with .outline }} btn-outline{{ end }}">{{ .text }}</a>
				{{- end -}}
			</div>
			{{- end }}
			{{- with .text }}
			<p class="text-noir-75 mt-4">{{ . }}</p>
			{{- end }}
		</div>
		{{- with .figure }}
		<figure class="flex-1 w-full">
			{{- $image := resources.Get .image -}}
			<img src="{{ $image.RelPermalink }}" alt="{{ .alt }}" class="lg:max-h-480" {{ if not (strings.HasSuffix .image "svg") }}{{ with (imageConfig (add "/assets" .image)) -}}width="{{ .Width }}" height="{{ .Height }}"{{ end }}{{ end }} loading="lazy">
		</figure>
		{{- end -}}
	</div>
</header>
