<header class="hero | relative min-h-320 flex flex-col items-center justify-center px-8 py-12 text-white bg-bleu-fonce-100">
	<div class="bg-pattern | absolute inset-0"></div>
	<div class="container max-w-screen-xl relative z-10">
		<h1>{{ .title }}</h1>
		{{ with .subtitle -}}
		<h2 class="text-lg md:text-xl lg:text-2xl font-bold text-beige-25 uppercase">{{ . }}</h2>
		{{ end }}
		{{- with .ctas }}
		<div class="mx-auto items-center flex flex-wrap space-x-4 mt-6">
			{{- range . -}}
			<a href="{{ .href | absURL }}" class="btn text-base lg:text-lg md:text-xl{{ with .outline }} btn-outline{{ end }}">{{ .text }}{{ with .icon }}{{ if templates.Exists (printf "partials/%s/%s.html" "svg/icons" . ) -}} <span class="icon">{{ partial (printf "%s/%s.html" "svg/icons" . ) }}</span>{{ end }}{{ end }}</a>
			{{- end -}}
		</div>
		{{ end }}
	</div>
</header>
