{{ $scriptPath := resources.Get "/js/main.js" }}
{{ if eq (getenv "HUGO_ENV") "production" }}
	{{ $js := resources.Get $scriptPath | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
{{ else }}
	{{ $js := resources.Get $scriptPath }}
  <script src="{{ $js.Permalink }}"></script>
{{ end }}
