{{ if .Site.IsMultiLingual }}

{{ $translations := $.Site.Home.AllTranslations }}
{{ if .Page.IsTranslated }}
  {{ $translations = .Page.AllTranslations }}
{{ end }}

<nav id="languages" aria-label="{{ i18n "language_switcher" }}" class="fixed top-24 right-8 xl:relative xl:inset-0 z-30">
  <ul class="flex items-center">
    {{- range $translations -}}
    <li class="flex-shrink-0 uppercase text-noir-100{{ if eq .Language $.Language }} active{{ end }}">
      {{- if ne .Language $.Language -}}
      <a href="{{ .Permalink }}" hreflang="{{ .Language.Lang }}" title="{{ .Language.LanguageName }}" lang="{{ .Language.Lang }}" class="hover:opacity-50">{{ .Language }}</a>
      {{- else -}}
      <span class="opacity-50" title="{{ .Language.LanguageName }}" lang="{{ .Language.Lang }}">{{ .Language }}</span>
      {{- end -}}
    </li>
    {{- end -}}
  </ul>
</nav>
{{ end }}
