{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<nav role="navigation" aria-label="{{ T "paginaiton" }}" class="inline-block">
  <ul class="pagination | flex justify-center items-center border border-noir-25 bg-noir-25 rounded">
    {{ with $pag.First -}}
    <li class="page-item">
      <a href="{{ .URL }}" rel="nofollow" tabindex="0" class="page-link page-link-first" aria-label="{{ T "first_page" }}"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {{ end -}}
    <!--
    <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
      <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} rel="nofollow" tabindex="0" class="page-link page-link-prev" aria-label="{{ T "prev_page" }}"><span aria-hidden="true">&lsaquo;</span></a>
    </li>
    -->
    {{- $ellipsed := false -}}
    {{- $shouldEllipse := false -}}
    {{- range $pag.Pagers -}}
    {{- $right := sub .TotalPages .PageNumber -}}
    {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
    {{- $showNumber := or $showNumber (le .TotalPages 5) -}}
    {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
    {{- if $showNumber -}}
      {{- $ellipsed = false -}}
      {{- $shouldEllipse = false -}}
    {{- else -}}
      {{- $shouldEllipse = not $ellipsed -}}
      {{- $ellipsed = true -}}
    {{- end -}}
    {{- if $showNumber }}
    <li class="page-item{{ if eq . $pag }} active{{ end }}">
      <a class="page-link" href="{{ .URL }}" rel="nofollow" tabindex="0"{{ if eq . $pag }} aria-label="{{ T "current_page" }}, {{ T "page" }} {{ .PageNumber }}" aria-current="true"{{ else }} aria-label="{{ T "go_to_page" }} {{ .PageNumber }}"{{ end }}>{{ .PageNumber }}</a>
    </li>
    {{- else if $shouldEllipse }}
    <li class="page-item disabled">
      <span aria-hidden="true">&nbsp;&hellip;&nbsp;</span>
    </li>
    {{- end -}}
    {{- end }}
    <!--
    <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
      <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} rel="nofollow" tabindex="0" class="page-link page-link-next" aria-label="{{ T "next_page" }}"><span aria-hidden="true">&rsaquo;</span></a>
    </li>
    -->
    {{- with $pag.Last }}
    <li class="page-item">
      <a href="{{ .URL }}" rel="nofollow" tabindex="0" class="page-link page-link-last" aria-label="{{ T "last_page" }}"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {{- end }}
  </ul>
</nav>
{{ end }}
