<div id="prev-next" class="border-t border-noir-25 mx-8 pt-20 mb-24 flex justify-between text-noir-75">
  <p class="prev | flex-1 pr-4">
    {{ with .PrevInSection -}}
    <span><span aria-hidden="true">←</span> {{ T "prev_article" }}</span> <br>
    <a href="{{ .Permalink }}" class="inline-block mt-2 text-bleu underline hover:no-underline">{{ .Title }}</a>
    {{- end }}
  </p>
  <p class="next | flex-1 pl-4 text-right">
    {{ with .NextInSection -}}
    <span>{{ T "next_article" }} <span aria-hidden="true">→</span></span> <br>
    <a href="{{ .Permalink }}" class="inline-block mt-2 text-bleu underline hover:no-underline">{{ .Title }}</a>
    {{- end }}
  </p>
</div>
