{{ $mypage := .mypage }}
{{ with .context }}
<section {{ with .id }}id="{{ . }}" {{ end }}class="py-20 px-8{{ with .bg_color }} {{ . }}{{ end }}{{ with .color }} {{ . }}{{ end }}">

	<div class="wrapper | container max-w-screen-xl flex flex-col{{ if .cols }} md:flex-row md:space-x-10 {{ end }}">

		{{- range .containers }}
		<div class="container flex-1 max-w-screen-xl{{ with .color }} {{ . }}{{ end }}">
			
			{{ $container := . }}
			
			{{ if .title -}}
			<header class="flex flex-col-reverse xs:flex-row justify-between items-start">
				<h2 class="flex-1 mb-12"{{ with .title_max_w}} style="max-width: {{ . }}"{{ end }}>{{ .title }}</h2>
				{{- with .cta }}
				<a href="{{ .href }}" rel="noopener noreferrer nofollow" class="btn text-sm{{ with .outline }} btn-outline{{ end }} order-first xs:order-last">{{ .text }}</a>
				{{- end -}}
				{{- with .icon }}
				{{ if templates.Exists (printf "partials/%s/%s.html" "svg/icons" . ) -}}
				<div class="icon | flex justify-center items-center mb-6 xs:mb-0">{{ partial (printf "%s/%s.html" "svg/icons" . ) }}</div>
				{{ end }}
				{{- end -}}
			</header>
			{{- end -}}
			
			{{- if .blocks }}
			{{ $count := len .blocks }}
			<div class="blocks | flex flex-wrap mb-4 -mx-5">
				{{- range .blocks }}
				<div class="block | flex flex-col w-full px-5{{ if eq $count 2 }} md:w-1/2{{ end }}{{ if or (eq $count 3) (gt $count 5) }} md:w-1/3{{ end }}{{ if eq $count 4 }} xs:w-1/2 lg:w-1/4{{ end }}">
					<div class="pb-10 h-full{{ if not .figure }} border-t pt-8{{ end }}">
						{{- with .figure }}
						{{- partial "figure.html" . -}}
						{{- end }}

						{{- if .details }}

						{{- if .title }}
						<details class="flex justify-between items-start">
							<summary class="lg:min-h-14"{{ with .title_max_w}} style="max-width: {{ . }}"{{ end }}>{{ .title }}</summary>
							{{- with .text }}
							<div class="text | {{ if eq $container.font_size "smaller" }}text-sm{{ else if eq $container.font_size "larger" }}text-lg md:text-xl lg:text-2xl{{ else }}text-base md:text-lg{{ end }}">{{ . | $mypage.RenderString }}</div>
							{{- end -}}
							{{- with .ctas }}
							<div class="ctas">
								{{- range . -}}
								<a href="{{ .href }}" rel="noopener noreferrer nofollow" class="btn text-sm{{ with .outline }} btn-outline{{ end }}">{{ .text }}</a>
								{{- end -}}
							</div>
							{{- end }}
						</details>
						{{- end -}}

						{{ else }}

						{{- if .title }}
						<header class="flex justify-between items-start">
							<h3 class="lg:min-h-14"{{ with .title_max_w}} style="max-width: {{ . }}"{{ end }}>{{ .title }}</h3>
							{{- with .icon }}
							{{ if templates.Exists (printf "partials/%s/%s.html" "svg/icons" . ) -}}
							<div class="icon | flex justify-center items-center">{{ partial (printf "%s/%s.html" "svg/icons" . ) }}</div>
							{{ end }}
							{{- end -}}
						</header>
						{{- end -}}
						{{- with .data }}
						<div class="data | font-light text-6xl md:text-7xl lg:text-8xl mb-6">{{ . | $mypage.RenderString }}</div>
						{{- end -}}
						{{- with .text }}
						<div class="text | {{ if eq $container.font_size "smaller" }}text-sm{{ else if eq $container.font_size "larger" }}text-lg md:text-xl lg:text-2xl{{ else }}text-base md:text-lg{{ end }}">{{ . | $mypage.RenderString }}</div>
						{{- end -}}

						{{- with .ctas }}
						<div class="ctas">
							{{- range . -}}
							{{- partial "cta.html" . -}}
							{{- end -}}
						</div>
						{{- end }}

						{{- end }}
					</div>
				</div>
				{{- end }}
			</div>
			{{- end -}}

			{{- with .figure }}
			{{- partial "figure.html" . }}
			{{- end -}}

			{{- with .ctas }}
			<div class="ctas | mx-auto items-center justify-center flex flex-wrap space-x-4 mt-4 mb-16">
				{{- range . -}}
				{{- partial "cta.html" . -}}
				{{- end -}}
			</div>
			{{- end }}
		</div>
		{{- end }}

	</div>

</section>
{{ end }}
