<ul id="skips-links" class="fixed z-50 w-full bg-white text-lg m-0">
	<li>
		<a id="skip-content" href="#main" class="sr-only focus:not-sr-only"><div class="flex items-center align-center h-24 w-full"><span class="mx-auto">{{ i18n "skip-main" }}</span></div></a>
	</li>
</ul>
