{{ if .Params.toc -}}
<aside id="toc" class="py-20{{ if eq .Layout "invest" }} px-8{{ else if eq .Layout "faq" }} lg:sticky lg:top-20 pb-0{{ end }}">
	<div class="container max-w-screen-xl">
		<h3 id="toc-title">{{ i18n "toc" }}</h3>
		<nav class="toc" aria-labelledby="toc-title">
			<ol{{ if eq .Layout "invest" }} class="sm:cols-2"{{ end }}>
			{{ range .Params.sections -}}
				{{ $id := .id }}
				{{ range .containers -}}
				{{ with .title -}}
				<li>
					<a href="#{{ $id }}" class="underline hover:no-underline leading-loose">{{ . }}</a>
				</li>
				{{- end }}
				{{- end }}
			{{- end }}
			</ol>
		</nav>
	</div>
</aside>
{{- end }}
