{{ define "main" }}

	<main role="main" id="main">

		<header class="hero | relative h-auto lg:h-720 flex flex-col items-center justify-center text-center py-16 px-8 bg-bleu-fonce-100 text-bleu">
			<div class="bg-pattern | absolute inset-0"></div>
			<div class="flex flex-col items-center justify-center relative z-10" style="margin-top: -21px">
				<div class="mb-8">{{ partial "svg/logo-circle-bleu.html" }}</div>
				<h1 class="text-white">{{ T "error_404_title" }}</h1>
				<h2 class="text-lg md:text-xl lg:text-2xl font-bold text-beige-25 uppercase">{{ T "error_404_subtitle" }}</h2>
				<div class="mx-auto items-center justify-center flex flex-wrap space-x-4 mt-10">
					<a href="{{ .Site.Home.Permalink | relLangURL }}" class="btn text-lg md:text-xl">{{ T "error_404_home" }}</a>
				</div>
			</div>
		</header>

	</main>

{{ end }}
