{{ define "main" }}

	{{ $page := .Page }}
	<main role="main" id="main">

		{{ with .Params.header -}}
		<header class="hero | relative h-auto lg:h-720 flex flex-col items-center justify-center text-center py-16 px-8 bg-beige">
			<div class="bg-pattern | absolute inset-0"></div>
			<div class="flex flex-col items-center justify-center relative z-10" style="margin-top: -21px">
				<div class="mb-8">{{ partial "svg/logo-circle-bleu.html" }}</div>
				<h1>{{ .title }}</h1>
				{{ with .subtitle -}}
				<h2 class="text-lg md:text-xl lg:text-2xl font-bold uppercase">{{ . }}</h2>
				{{ end }}
				{{- with .ctas }}
				<div class="mx-auto items-center justify-center flex flex-wrap space-x-4 mt-10">
					{{- range . -}}
					<a href="{{ .href }}" class="btn text-lg md:text-xl{{ with .outline }} btn-outline bg-beige{{ end }}">{{ .text }}</a>
					{{- end -}}
				</div>
				{{ end }}
			</div>
		</header>
		{{ end }}

		{{ with .Params.sections -}}
			{{ range . -}}
				{{- partial "section.html" (dict "context" . "mypage" $page) -}}
			{{- end }}
		{{- end }}

	</main>

{{ end }}
